<div fxLayout="column" fxLayout.gt-sm="row wrap" class="p-2">
  <div fxFlex="20" class="p-2" *ngFor="let anime of listAnime; let i = index">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <a [routerLink]="['/detail/',anime.mal_id]">{{anime.title}}</a>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip *ngFor="let gen of anime.genres" >
              {{gen.name}}
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <img src="{{anime.image_url}}">
      <mat-divider></mat-divider>
      <mat-card-actions>
        {{anime.type}} - {{anime.airing_start | date: 'dd/MM/yyyy'}}

        <p fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="secondary-text-color">tv</mat-icon>
          <span>{{anime.episodes}}</span>
        </p>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
